{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{/each}}
<h3>Nova Postagem:</h3>
<div class="card">
<div class="card-body">
<form action="/admin/postagens/nova" method="post">
    <label for="titulo">Titulo:</label>
    <input type="text" id="titulo" name="titulo" placeholder="Titulo" class="form-control mt-1">
    <label for="slug">Slug:</label>
    <input type="text" id="slug" name="slug" placeholder="Slug da Postagem" class="form-control mt-1">
    <label for="descricao">Descrição:</label>
    <input type="text" id="descricao" name="descricao" placeholder="Descricao" class="form-control mt-1">
    <label for="conteudo">Conteúdo:</label>
    <textarea id="conteudo" name="conteudo" placeholder="Conteúdo" class="form-control mt-1"></textarea>
    <label for="categoria">Categoria:</label>
    <select name="categoria" id="categoria" class="custom-select mt-1">
        {{#each categorias}}
        <option value="{{_id}}">{{nome}}</option>
            {{else}}
            <option value="0">Nenhuma Categoria Registrada</option>
        {{/each}}
    </select>
    <br>
    <button type="submit" class="btn btn-success mt-3">Criar Postagem</button>
</form>
</div>
</div>