{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{/each}}
<h3>Editar Categoria:</h3>
<div class="card">
<div class="card-body">
<form action="/admin/categorias/edit" method="post">
    <label for="nome">Novo Nome:</label>
    <input type="text" id="nome" name="nome" placeholder="Novo Nome da Categoria" class="form-control" value="{{categoria.nome}}">
    <label for="slug">Novo Slug:</label>
    <input type="text" id="slug" name="slug" placeholder="Novo Slug da Categoria" class="form-control" value="{{categoria.slug}}">
    <br>
    <button type="submit" class="btn btn-success">Editar Categoria</button>
    <input type="hidden" id="id" name="id" value="{{categoria._id}}">
</form>
</div>
</div>