<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #054c58;">
  <a class="navbar-brand" href="#">Blog JS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(página atual)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/categorias">Lista de Categorias</a>
      </li>
      {{#if user}}
      <li class="nav-item active">
        <a class="nav-link" href="/admin/categorias">Lista de Categorias adm</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="/admin/postagens">Lista de Postagens adm</a>
      </li>
      <li class="nav-item secondary">
        <a class="nav-link" href="/usuario/logout">Logout</a>
      </li>
      {{else}}
      <li class="nav-item active">
        <a class="nav-link" href="/usuario/login">Login</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/usuario/registro">Registar</a>
      </li>
      {{/if}}
    </ul>
  </div>
</nav>