<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #580d05;">
  <a class="navbar-brand" href="#">Admin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/admin/">Admin Home <span class="sr-only">(página atual)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/">Home </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/categorias">Lista de Categorias</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/admin/categorias">Lista de Categorias adm</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/admin/postagens">Lista de Postagens adm</a>
      </li>
      <li class="nav-item secondary">
        <a class="nav-link" href="/usuario/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>