<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Erro ao Carregar Postagens!</h4>
  <p>Mensagem de alerta generrico do Bootstrap! Esse texto vai ter quer se extender um pouquinho pra conseguir ver como o espaçamento dentro de um alerta funciona.</p>
  <hr>
  <p class="mb-0">Pix do dev: 71 9991 6129.</p>
</div>